---
page_title: "shufflesoar_app_authentication Resource - shufflesoar"
subcategory: "resource"
description: |-
  A resource to create Shuffle App Authentication. See "App Authentication" in: https://shuffler.io/docs/API#app_api
---


# shufflesoar_app_authentication (Resource)


A resource to create Shuffle App Authentication. See "App Authentication" in: https://shuffler.io/docs/API#app_api

## Example Usage

{{tffile "examples/resources/shufflesoar_app_authentication.tf"}}

{{ .SchemaMarkdown | trimspace }}