---
page_title: "shufflesoar Provider"
subcategory: "provider"
description: |-
  A terraform provider for https://github.com/frikky/Shuffle
---


# Suffle SOAR Provider


A terraform provider for https://github.com/frikky/Shuffle


## Example Usage

{{tffile "examples/providers.tf"}}

{{ .SchemaMarkdown | trimspace }}