---
page_title: "shufflesoar_all_app_authentications Data - shufflesoar"
subcategory: "data-source"
description: |-
  A data to retreive all Shuffle App Authentication. See "App Authentication" in: https://shuffler.io/docs/API#app_api
---


# shufflesoar_all_app_authentications (Data)


A data to retreive all Shuffle App Authentication. See "App Authentication" in: https://shuffler.io/docs/API#app_api

## Example Usage

{{tffile "examples/data_sources/shufflesoar_app_authentication.tf"}}

{{ .SchemaMarkdown | trimspace }}